<div class="hero-form">
  <mat-form-field appearance="outline">
    <mat-label>Hero name</mat-label>
    <input matInput placeholder="Enter Hero name..." #heroName>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <div align="end">
    <button (click)="add(heroName.value); heroName.value=''" mat-raised-button color="primary">Add Hero</button>
  </div>
</div>

<ul class="hero-list no-select">
  <li
    *ngFor="let hero of heroes"
    class="hero-item"
  >
    <a routerLink="/detail/{{ hero.id }}" class="hero-button" type="button">
      <span>{{ hero.id }}</span>
      <span>{{ hero.name }}</span>
    </a>
    <button mat-icon-button color="primary">
      <mat-icon>clear</mat-icon>
    </button>
  </li>
</ul>
