.heroes-header {
  margin-bottom: 50px;

  .container {
    display: flex;
    justify-content: space-between;
  }

  h1 a {
    font-size: 21px;
  }
}

.container {
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
